/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
    --bg-color: #000028;
    --main-color: #FF0070;
    --text-color: #F1B2CE;
    --accent-color: #DB00FF;
    --accent-link: 2px 2px 0 #FF0070;
    --text-shadow: 4px 4px 0 #FF0070;
    --main-font: 'IBM Plex mono';
    --back-img: fixed url(../images/cover-image-dark.png) no-repeat center / cover;
}


.page.theme_dark .decorated-zone::before {
    border-top: 1px solid var(--main-color);
    border-right: 1px solid var(--main-color);
}

.page.theme_dark .decorated-zone::after {
    border-bottom: 1px solid var(--main-color);
    border-left: 1px solid var(--main-color);
}

.page.theme_dark .record::before {
    display: block;
    color: var(--main-color);
}

.page.theme_dark .record::after {
    display: block;
    background: var(--main-color);
    box-shadow: 0 0 4px 2px var(--main-color);
}

.page.theme_dark .header__theme-menu-button {
    color: var(--main-color);
}

.page.theme_dark .header__theme-menu-button:hover {
    border: 1px solid rgba(255, 0, 112, 0.40);
}

.page.theme_dark .header__theme-menu-button:focus {
    outline: none;
}

.page.theme_dark .header__theme-menu-button:focus-visible {
    border-bottom: 1px solid rgba(255, 0, 112, 0.40);
}

.page.theme_dark .header__theme-menu-button_active {
    border: 1px solid var(--main-color);
}

.page.theme_dark .header__title {
    color: var(--accent-color);
    text-shadow: var(--text-shadow);
}

.page.theme_dark .header__subtitle {
    color: var(--bg-color);
}

.page.theme_dark .title-decor {
    background-color: var(--main-color);
}

.page.theme_dark .accent-link {
    box-shadow: 0 0 4px 2px var(--accent-link);
    cursor: pointer;
    text-decoration: none;
}

.page.theme_dark .accent-link:hover {
    text-decoration: underline;
}

.page.theme_dark .accent-link:focus {
    outline: none;
}

.page.theme_dark .accent-link:focus-visible {
    outline: 1px solid #F1B2CE;
}

.page.theme_dark .article__title {
    color: var(--main-color);
}

.page.theme_dark .article__item-title {
    color: var(--bg-color);
}

.page.theme_dark .article__item-text {
    color: var(--text-color);
}

.page.theme_dark .article__second-title {
    color: var(--bg-color);
}
