/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
    --bg-color: #FFF1F7;
    --main-color: #353430;
    --text-color: #353430;
    --accent-color: #FFC2E6;
    --text-shadow: 4px 4px 0px #FF0070;
    --main-font: 'IBM Plex mono';
    --back-img: fixed url(../images/cover-image-light.png) no-repeat center / cover;
}

.page.theme_light .decorated-zone::before {
    border-top: 1px solid var(--main-color);
    border-right: 1px solid var(--main-color);
}
.page.theme_light .decorated-zone::after {
    border-bottom: 1px solid var(--main-color);
    border-left: 1px solid var(--main-color);
    }

.page.theme_light .record::before {
    display: none
}
.page.theme_light .record::after {
    display: none
}

.page.theme_light .header__title {
    color: var(--accent-color);
    text-shadow: var(--text-shadow);
}

.page.theme_light .header__subtitle {
    color: var(--text-color);
    background-color: var(--accent-color);
}

.page.theme_light .article-title {
    color: var(--main-color);
}

.page.theme_light .article__item-title {
    color: var(--text-color);
}

.page.theme_light .title-decor {
    background-color: var(--accent-color);
}

@media (prefers-color-scheme: light) {
    /* Дублируем переменные светлой темы */
    :root {
        --bg-color: #FFF1F7;
        --main-color: #353430;
        --text-color: #353430;
        --accent-color: #FFC2E6;
        --text-shadow: 4px 4px 0px #FF0070;
        --main-font: 'IBM Plex mono';
        --back-img: fixed url(../images/cover-image-light.png) no-repeat center / cover;
    }
    .decorated-zone::before {
        border-top: 1px solid var(--main-color);
        border-right: 1px solid var(--main-color);
    }
    .decorated-zone::after {
        border-bottom: 1px solid var(--main-color);
        border-left: 1px solid var(--main-color);
    }

    .record::before {
        display: none
    }

    .record::after {
        display: none
    }

    .header__title {
        color: var(--accent-color);
        text-shadow: var(--text-shadow);
    }

    .header__subtitle {
        color: var(--text-color);
        background-color: var(--accent-color);
    }

    .article-title {
        color: var(--main-color);
    }

    .article__item-title {
        color: var(--text-color);
    }

    .title-decor {
        background-color: var(--accent-color);
    }


}


