/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
    --bg-color: #FFF1F7;
    --main-color: #353430;
    --text-color: #353430;
    --accent-color: #FFC2E6;
    --accent-link: #FF8DCB;
    --text-shadow: 4px 4px 0px #FF8DCB;
    --main-font: 'IBM Plex mono';
    --back-img: fixed url(../images/cover-image-light.png) no-repeat center / cover;
}

.page.theme_light .record::before {
    display: none;
}

.page.theme_light .record::after {
    display: none;
}

.page.theme_light .header__subtitle {
    color: var(--text-color);
}

.page.theme_light .title-decor {
    background-color: var(--accent-link);
}

.page.theme_light .header__theme-menu-button:hover {
    border: 1px solid rgba(50, 49, 45, 0.40);
}

.page.theme_light .header__theme-menu-button:focus-visible {
    border-bottom: 1px solid rgba(50, 49, 45);
}

.page.theme_light .accent-span {
    text-shadow: 2px 2px #FF8DCB;
}

.page.theme_light .accent-link:hover {
    box-shadow: 0 1px 0 #353430;
}

.page.theme_light .accent-link:focus-visible {
    outline: 1px solid #353430;
}

.page.theme_light .article__title {
    color: var(--main-color);
}


@media (prefers-color-scheme: light) {
    /* Дублируем переменные светлой темы */
    :root {
        --bg-color: #FFF1F7;
        --main-color: #353430;
        --text-color: #353430;
        --accent-color: #FFC2E6;
        --accent-link: #FF8DCB;
        --text-shadow: 4px 4px 0px #FF8DCB;
        --main-font: 'IBM Plex mono';
        --back-img: fixed url(../images/cover-image-light.png) no-repeat center / cover;
    }

    .record::before {
        display: none;
    }

    .record::after {
        display: none;
    }

    .header__subtitle {
        color: var(--text-color);
    }

    .title-decor {
        background-color: var(--accent-link);
    }

    .header__theme-menu-button:hover {
        border: 1px solid rgba(50, 49, 45, 0.40);
    }

    .header__theme-menu-button:focus-visible {
        border-bottom: 1px solid rgba(50, 49, 45);        ;
    }

    .accent-span {
        text-shadow: 2px 2px #FF8DCB;
    }

    .accent-link:hover {
        box-shadow: 0 1px 0 #353430;
    }

    .accent-link:focus-visible {
        outline: 1px solid #353430;
    }

    .article__title {
        color: var(--main-color);
    }
}




