/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
@import url(../fonts/fonts.css);

.page {
    font-family: var(--main-font), 'IBM Plex mono', sans-serif;
    color: var(--text-color), #F1B2CE;
    background: var(--back-img), #000028;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    margin: 0 auto;
}

/*стили хидера*/

.decorated-zone {
    position: relative;
}

.decorated-zone::before {
    content: " ";
    position: absolute;
    width: 25px;
    height: 25px;
    border-top: 1px solid var(--main-color);
    border-right: 1px solid var(--main-color);
}

.decorated-zone::after {
    content: " ";
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    border-bottom: 1px solid var(--main-color);
    border-left: 1px solid var(--main-color);
}

.record {
    position: relative;
}

.record::before {
    content:"Rec";
    position: absolute;
    inset: 2px 0 0 calc(100% - 85px);
    height: 26px;
    justify-self: end;
    color: var(--main-color);
    text-align: center;
    line-height: 1.4;
    text-transform: uppercase;
}

.record::after {
    content:" ";
    position: absolute;
    inset: 9px 0 0 calc(100% - 20px);
    width: 9px;
    height: 9px;
    background-image: url(../images/ellipse.svg);
    background-color: var(--main-color);
    border-radius: 50%;
    box-shadow: 0 0 4px 3px var(--main-color);
}

.header {
    z-index: 1;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1px 1fr auto 1fr;
    justify-content: end;
    align-items: center;
    padding: 10px;
}

.header__theme-menu {
    display: grid;
    justify-content: end;
    align-items: center;
}

.header__theme-menu-button {
    width: 100%;
    background: transparent;
    border: none;
    color: var(--main-color);
    text-align: center;
    text-transform: lowercase;
    line-height: 1.2;
}

.header__theme-menu-button:hover {
    border: 1px solid rgba(255, 0, 112, 0.40);
}

.header__theme-menu-button:focus {
    outline: none;
}

.header__theme-menu-button:focus-visible {
    border-bottom: 1px solid rgba(255, 0, 112, 0.40);
}

.header__theme-menu-button_active {
    border: 1px solid var(--main-color);
}

.header__theme-menu-list {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.header__title {
    color: var(--accent-color);
    text-shadow: var(--text-shadow);
    font-size: 116px;
    font-style: normal;
    font-weight: 700;
    line-height: 1;
}

.header__subtitle {
    color:var(--bg-color);
    font-weight: 700;
    line-height: 1.3;
}

.title-decor {
    background-color: var(--main-color);
}

.header__subtitle>span:before {
    content: '\a';
    white-space: pre;
}

.main {
    width: 100%;
    padding: 40px 10px;
    display: grid;
    grid-template-columns: 100%;
    gap: 50px;
}

.accent-link {
    text-shadow: var(--accent-link);
    cursor: pointer;
    text-decoration: none;
}

.accent-link:hover {
    text-decoration: underline;
}

.accent-link:focus {
    outline: none;
}

.accent-link:focus-visible {
    outline: 1px solid #F1B2CE;
}

.article {
    grid-template-rows: auto auto;
    font-family: inherit;
    font-size: inherit;
    display: grid;
    gap: 20px;
}

.article__title {
    font-family: inherit;
    font-size: inherit;
    color: var(--main-color);
    font-weight: 700;
    line-height: 1.3;
}

.double-title {
    margin-block-end: 10px;
}

.article__item {
    display: grid;
    gap: 10px;
}

.article__item-title {
    font-family: inherit;
    font-size: inherit;
    color: var(--bg-color);
    font-weight: 700;
    line-height: 1.3;
}

.article__item-text {
    font-weight: inherit;
    color: var(--text-color);
}

.light-title {
    font-weight: inherit;
}

.gallery{
    display: grid;
    grid-auto-flow: row;
}

.gallery__picture {
    width: 100%;
    height: 100%;
    position: relative;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*стили футера*/

.footer {
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    align-items: center;
}

.footer__title {
    text-align: center;
}

/*адаптив*/

@media (width < 768px){
    .decorated-zone::before {
        inset: 10px 0 0 calc(100% - 36px);
    }

    .decorated-zone::after {
        inset: calc(100% - 36px) 0 0 10px;
    }

    .record::before {
        inset: 2px 0 0 calc(100% - 85px);
    }

    .record::after {
        inset: 9px 0 0 calc(100% - 20px);
    }

    .header {
        min-height: 668px;
        grid-template-columns: 1fr;
        padding: 10px;
    }

     .decorated-zone::before {
        inset: 10px 0 0 calc(100% - 36px);
    }

    .decorated-zone::after {
        inset: calc(100% - 36px) 0 0 10px;
    }

    .record::before {
        inset: 2px 0 0 calc(100% - 85px);
    }

    .record::after {
        inset: 9px 0 0 calc(100% - 20px);
    }

    .header {
        min-height: 668px;
        grid-template-columns: 1fr;
        padding: 10px;
    }

    .header__title {
        font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    }

    .main {
        padding: 40px 10px;
        gap: 50px;
    }

    .article {
        grid-template-columns: 100%;
    }

    .gallery {
        gap: 10px;
    }

    .footer {
        min-height: 668px;
        padding: 10px;
    }

}

@media (768px <= width < 1024px) {

    .decorated-zone::before {
        inset: 20px 0 0 calc(100% - 46px);
    }

    .decorated-zone::after {
        inset: calc(100% - 46px) 0 0 20px;
    }

    .header {
        min-height: 1024px;
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .header__title {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }

    .header__subtitle {
        width: 50%;
        justify-self: end;
    }

    .main {
        padding: 60px 20px;
        gap: 80px;
    }

    .why, .what, .how {
        grid-template-columns: 1fr 2fr;
    }

    .why>.article__item:nth-child(3) {
        grid-column: 2;
    }

    .what .article__title {
        width: 50%;
    }

    .what>.article__item:nth-child(2) {
        grid-row: 2;
        grid-column: 1/3;
    }

    .what>.article__item:nth-child(3) {
        grid-row: 3;
        grid-column: 1/3;
    }

    .what>.article__item:nth-child(4) {
        grid-row: 4;
        grid-column: 1/3;
    }

    .how>.article__item:nth-child(3) {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row: 2;
    }

    .how>.article__item:nth-child(4) {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row: 3;
    }

    .how>.article__item:nth-child(5) {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row: 4;
    }

    .how>.article__item:nth-child(6) {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row: 5;
    }

    .how>.article__item:nth-child(7) {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row: 6;
    }

    .gallery {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 192px 230px 318px;
    }

    .gallery__picture:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .gallery__picture:nth-child(2) {
        grid-column-start: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .gallery__picture:nth-child(3) {
        grid-column-start: 1;
        grid-row-start: 2;
        grid-row-end: 4;
    }

    .gallery__picture:nth-child(4) {
        grid-column-start: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .gallery__picture:nth-child(5) {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 3;
    }

    .footer {
        min-height: 1024px;
        padding: 20px;
    }
}

@media ( width >= 1024px) {

    .decorated-zone::before {
        inset: 20px 0 0 calc(100% - 46px);
    }

    .decorated-zone::after {
        inset: calc(100% - 46px) 0 0 20px;
    }

    .header {
        align-items: start;
        padding:20px;
    }

    .header__theme-menu {
        display: grid;
        justify-content: center;
    }

    .header__subtitle {
        width: 50%;
        justify-self: end;
        align-self: center;
    }

    .header__theme-menu-list {
        display: grid;
        gap: 13px;
        grid-auto-flow: row;
        grid-template-rows: auto;
        grid-template-columns: repeat(3, 70px);
        padding-block-start: 0;
    }

    .main {
        padding: 60px 20px;
        gap: 80px;
    }

    .why, .what, .how {
        grid-template-columns: 1fr 1fr 1fr;
        align-items: start;
    }

    .why>.article__item:nth-child(2){
        grid-column: 2/4;
    }

    .why>.article__item:nth-child(3){
        grid-column: 2/4;
    }

    .what>.article__item:nth-child(2){
        grid-row: 2/3;
    }

    .what>.article__item:nth-child(3){
        grid-row: 2/3;
    }

    .what>.article__item:nth-child(4){
        grid-row: 2/3;
    }

    .how>.article__item:nth-child(2){
        grid-row:1;
        grid-column:2/4;
    }
    .how>.article__item:nth-child(3){
        grid-row:2;
        grid-column:2/4;
    }
    .how>.article__item:nth-child(4){
        grid-row:3;
        grid-column:2/4;
    }
    .how>.article__item:nth-child(5){
        grid-row:4;
        grid-column:2/4;
    }

    .how>.article__item:nth-child(6){
        grid-row:5;
        grid-column:2/4;
    }

    .header__title {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }

    .gallery {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 260px 315px 428px;
    }

    .gallery__picture:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .gallery__picture:nth-child(2) {
        grid-column-start: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .gallery__picture:nth-child(3) {
        grid-column-start: 1;
        grid-row-start: 2;
        grid-row-end: 4;
    }

    .gallery__picture:nth-child(4) {
        grid-column-start: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .gallery__picture:nth-child(5) {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 3;
    }

    .footer {
        min-height: 768px;
        padding: 20px;
    }
}
