/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
<<<<<<< HEAD

:root {
    --bg-color: #000028;
    --main-color: #FF0070;
    --text-color: #F1B2CE;
    --accent-color: #DB00FF;
    --text-shadow: 4px 4px 0 #FF0070;
    --main-font: 'IBM Plex mono';
    --back-img: fixed url(../images/cover-image-dark.png) no-repeat center / cover;
}



=======
>>>>>>> 60b47dbac67880f5a5a9594110890fb6dfd4eca1
